{% extends "users/base_user.html" %}
{% block title %}Pedidos{% endblock %}
{% block addcss_user %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_index.css">{% endblock %}
{% block content_user %}
<style type="text/css"></style>
<div class="one column row">
  <div class="column">
    <div class="ui labeled huge input">
      <a href="{% url 'domicilios:index' %}" class="ui teal icon huge button">
        <i class="express-atras icon"></i>
      </a>
      <a class="ui olive label">Pedidos</a>
    </div>
  </div>
</div>
<div class="one column row">
  <div class="center aligned column">
    {% if request.session.cargo != 'ADMINISTRADOR' %}
    <div class="ui vertical compact labeled icon inverted huge teal menu">
      <a href="{% url 'domicilios:add_pedido' %}" class="item">
        <h3><i class="add to cart huge icon"></i></h3>
        Nuevo Pedido
      </a>
    </div>
    {% endif %}
    {% if request.session.cargo == 'ADMINISTRADOR' %}
    <div class="ui vertical compact labeled icon inverted huge teal menu">
      <a href="{% url 'domicilios:add_pedido_admin' %}" class="item">
        <h3><i class="add to cart huge icon"></i></h3>
        Nuevo Pedido
      </a>
    </div>
    {% endif %}
    {% if request.session.cargo == 'SUPERVISOR' or request.session.cargo == 'ADMINISTRADOR' %}
    <div class="ui vertical compact labeled icon inverted teal huge menu">
      <a href="{% url 'domicilios:pedido_search' %}"class="item">
        <h3><i class="express-listar huge icon"></i></h3>
        Listado Pedidos
      </a>
    </div>
    {% endif %}
    {% if request.session.cargo == 'SUPERVISOR' %}
    <div class="ui vertical compact labeled icon inverted teal huge menu">
      <a href="{% url 'domicilios:asignar' %}" class="item">
        <h3><i class="location arrow huge icon"></i></h3>
        Asignar Pedidos
      </a>
    </div>
    {% endif %}
    {% if request.session.cargo == 'ADMINISTRADOR' or request.session.cargo == 'SUPERVISOR' %}
    <div class="ui vertical compact labeled icon inverted teal huge menu">
      <a href="{% url 'domicilios:add_items' %}"class="item">
        <h3><i class="cubes huge icon"></i></h3>
        Nuevos Items
      </a>
    </div>
    {% endif %}
    {% if request.session.cargo == 'ADMINISTRADOR' or request.session.cargo == 'SUPERVISOR' %}
    <div class="ui vertical compact labeled icon inverted teal huge menu">
      <a href="{% url 'domicilios:list_items' %}"class="item">
        <h3><i class="express-listar huge icon"></i></h3>
        Listado Items
      </a>
    </div>
    {% endif %}
    <div class="ui vertical compact labeled icon inverted teal huge menu">
      <a href="{% url 'domicilios:mis_pedidos' %}"class="item">
        <h3><i class="ticket huge icon"></i></h3>
        Mis Pedidos
      </a>
    </div>
  </div>
</div>
{% endblock %}
