{% extends "users/base_user.html" %}
{% block title %}Listar Empresas{% endblock %}
{% block content_user %}
<div class="one column row">
	<div class="column">
		<div class="ui labeled huge input">
      <a href="{% url 'domicilios:index_empresa' %}" class="ui teal icon huge button">
        <i class="express-atras icon"></i>
      </a>
      <a class="ui olive label">Listar Empresas</a>
    </div>
	</div>
</div>
<div class="ui container grid" style="margin-bottom:50px;">
  <div class="center aligned column">
		<div class="column row">
			<div class="column">
				{% csrf_token %}
				Presiona Enter en el campo de busqueda para ver todas las empresas
					<div class="ui icon fluid input">
					<input type="text" name="search" id="search" autofocus placeholder="Buscar por Nit/Nombre">
					<i class="search icon"></i>
				</div>
			</div>
		</div>
		<h4 class="ui horizontal divider header">
			<i class="express-listar icon"></i>
			Resultados
		</h4>
		<div class="column row">
			<div class="column">
				<table id="search-results" class="ui very basic striped unstackable table">

				</table>
			</div>
		</div>
  </div>
</div>
{% endblock %}

{% block addjs %}
<script src="{{ STATIC_URL }}js/empresaSearch.js" ></script>
{% endblock %}
