{% extends "users/base_user.html" %}
{% block title %}Editar Motorizado{% endblock %}
{% block addcss_user %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flora.datepick.css">
{% endblock %}
{% block content_user %}
<div class="one column row">
	<div class="column">
		<div class="ui labeled huge input">
		  <a href="{% url 'domicilios:view_motorizado' %}" class="ui teal icon huge button">
			<i class="express-atras icon"></i>
		  </a>
		  <a class="ui olive label">Editar Motorizado</a>
		</div>
	</div>
</div>
<div class="ui container grid" style="margin-bottom:50px;">
  <div class="center aligned column">
		<form method="POST" class="ui form">
			{% csrf_token %}
			<h2 class="ui header"></h2>
	      <div class="field">
	        <textarea cols="40" id="id_observacion" maxlength="200" name="observacion" placeholder="Observaciones" rows="4"></textarea>
	      </div>
			<h2 class="ui header"></h2>
			<button type="submit" class="ui blue fluid large button">Siguiente</button>
			<h2 class="ui teal header">Descripción General</h2>
		    <div class="four fields">
					<div class="field {% if form.empleado.errors %}error{% endif %}">
						<label>Empleado</label>
						{{ form.empleado }}
					</div>
					<div class="field {% if form.licencia.errors %}error{% endif %}">
						<label>Licencia</label>
						{{ form.licencia }}
					</div>
					<div class="field {% if form.identifier.errors %}error{% endif %}">
						<label>Gps Identificador</label>
						{{ form.identifier }}
					</div>
					<div class="field {% if form.moto.errors %}error{% endif %}">
						<label>Moto</label>
						{{ form.moto }}
					</div>
					
		    </div>

			<button type="submit" class="ui olive fluid large button">Actualizar</button>

		</form>
  </div>
</div>
{% endblock %}

{% block addjs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.plugin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.datepick.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.datepick-es.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#id_fecha_expedicionT').datepick();
		$('#id_fecha_expiracionT').datepick();
		$('#id_fecha_expedicionS').datepick();
		$('#id_fecha_expiracionS').datepick();
	});
	$( document ).ready(function() {
		$('.ui.dropdown').dropdown();
	});
</script>
{% endblock %}
